annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
brotli==1.2.0
certifi==2026.4.22
cffi==2.0.0
click==8.3.3
cssselect2==0.9.0
fastapi==0.136.1
fonttools==4.62.1
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.14
Jinja2==3.1.6
MarkupSafe==3.0.3
pillow==12.2.0
pycparser==3.0
pydantic==2.13.4
pydantic-settings==2.14.1
pydantic_core==2.46.4
pydyf==0.12.1
pyphen==0.17.2
python-dotenv==1.2.2
starlette==1.0.0
tinycss2==1.5.1
tinyhtml5==2.1.0
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.46.0
weasyprint==68.1
webencodings==0.5.1
zopfli==0.4.1
